.container{
    width: 1200px;
    margin: 0 auto;
}
a.link:hover{
    color: #f00;
}

a:hover{
    cursor: pointer;
}

.arrow{
    background-image: url('../img/dropdown-arrow.png');
    width: 8px;
    height: 6px;
    display: inline-block;
    margin-left:6px;
    vertical-align: center;
}