/* 1.顶部导航栏 */
.nav{
    background-color: #f3f5f7;
    height: 44px;
    line-height: 44px;
}

.nav .container{
    height: 44px;
    border-bottom: 1px solid rgb(217 214 214);
    box-sizing: border-box;
}

.container .left_nav >li >a{
    display: inline-block;
    margin-right: 10px;
} 

ul.fl.left_nav {
    margin-left: 10px;
}

.left_nav li.login{
    color: #f00;
}

.right_nav{
    margin-right: 10px;
}

/* 1-1下拉菜单样式 */
.rela{
    padding: 0 16px 0 12px;
}
.rela a.link {
    height: 43px;
    display: inline-block;
    position: relative;
}

.rela:hover{
    background-color: #fff;
    border-left: 1px solid #cfcece;
    border-right: 1px solid #cfcece;
    border-bottom: 1px solid #cfcece;
}
.rela:hover .arrow{
    background-image:url('../img/dropdown-arrow-active.png');
}

.rela .abs{
    display: none;
    background-color: #fff;
    position: absolute;
    left: -1px;
    border-left: 1px solid #cfcece;
    border-right: 1px solid #cfcece;
    border-bottom: 1px solid #cfcece;
    z-index: 10;
}

.rela:hover .abs{
    display: block;
}

.rela .abs li{
    padding: 0 16px 0 12px;
}

.rela .abs li:hover{
    background-color: #f3f5f7;
}

.rela .abs li .list_item{
    display: block;
    height: 30px;
    line-height: 30px;
    /* 是否换行:不换行 */
    white-space: nowrap;
}

li.fl.rela.categ:hover {
    color: #f00;
    background: none;
    border: none;
}

/* 2.搜索框 */
.search_zone{
    height: 124px;
    width: 100%;
    background-color: #f3f5f7;
}
.search_zone .container {
    height: 100%;
    position: relative;
}
.search_zone .logo {
    background: url(../img/header-logo.png);
    width: 136px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.search_zone .search{
    position: absolute;
    top: 50%;
    left: 294px;
    transform: translate(0, -50%);
}

.search .search_ipt{
    width: 585px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: none;
}

.search .btn{
    width: 73px;
    height: 40px;
    line-height: 40px;
    background-color: #07111b;
    border: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-left: -4px;
}

.search form{
    position: relative;
}

.search .search_tips{
    display: none;
    position: absolute;
    border: 1px solid #eee;
}

.search_tips li{
    height: 24px;
    line-height: 24px;
    background-color: #fff;
    width: 678px;
}
